.calendar {
	background-color: rgb(156, 142, 142);
}

.calendar-root {
	display: flex;
	flex-direction: column;
	border: 1px solid rgba(224, 224, 224, 1);
	height: 100%;
	justify-content: space-around;
}

table {
	width: 100%;
}

td {
	width: 100px;
	text-align: center;
	border: 1px solid gray;
}

.day-of-week-header-cell {
  color: var(--text-color-primary);
  background-color: var(--grid-foreground-color);
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.days-of-week,
.days-grid {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
	justify-items: center;
}

.days-grid {
  height: 70%;
  position: relative;
  border: var(--grid-gap) solid var(--grid-background-color);
  background-color: var(--grid-background-color);
}

.day-grid-item-header {
	display: flex;
	justify-content: center;
	padding: 1.5em;
}

.current-month:hover {
	cursor: pointer;
}

.not-current-month {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(197 191 191);
	cursor: not-allowed;
	border-radius: 30px;
	height: 4em;
	width: 4em;
}

.today {
	display: flex;
	font-size: 1em;
	color: orange;
}

.navigation-header {
	display: flex;
	justify-content: space-evenly;
	height: 8%;
}

@media only screen and (max-width: 1000px) { 
	.day-grid-item-header {
		width: 4em;
		padding: 1em;
	}
	.days-of-week {
		font-size: 0.8em;
	}
	.not-current-month {
		width: 3.5em;
		height: 3.5em;
	}
}

@media only screen and (max-width: 600px) {
	.day-grid-item-header {
		width: 2.5em;
		padding: 0.5em;
	}
	.days-of-week {
		font-size: 0.8em;
	}
	.days-grid {
		margin-bottom: 1em;
	}
	.navigation-header {
		margin: 1em;
	}
	.not-current-month {
		width: 3em;
		height: 3em;
	}
}

.month-nav-arrow-buttons {
	display: flex;
	gap: 1em;
}

.month-nav-arrow-buttons button {
	padding: 0.6em 0.9em 0.5em 0.9em;
	border-radius: 10px;
}