.calendar {
	background-color: rgb(156, 142, 142);
}
table {
	width: 100%;
}

td {
	width: 100px;
	text-align: center;
	border: 1px solid gray;
}

.day-of-week-header-cell {
  color: var(--text-color-primary);
  background-color: var(--grid-foreground-color);
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.days-of-week,
.days-grid {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: var(--grid-gap);
  grid-row-gap: var(--grid-gap);
	justify-items: center;
}

.days-grid {
  height: var(--grid-height);
  position: relative;
  border: var(--grid-gap) solid var(--grid-background-color);
  background-color: var(--grid-background-color);
}

.day-grid-item-header {
	display: flex;
	justify-content: center;
	width: 5em;
	padding: 2em;
}

.current-month:hover {
	cursor: pointer;
}

.not-current-month {
	background-color: rgb(155, 153, 153);
	cursor: not-allowed;
}

.today {
	font-size: 1em;
	color: orange;
}