.row {
 display: flex;
  text-align: center;
  justify-content: space-around;
  flex-direction: row;
  gap: 1em;
  max-width: 100%;
  border-radius: 5px;
}
.add-panel {
	height: 100%;
	min-width: 200px;
	flex: 1;
	border: 1px solid rgba(224, 224, 224, 1);
	max-height: 450px;
	margin-left: 1em;
	border-radius: 4px;
}
.info-panel {
	min-width: 200px;
	height: 100%;
	flex: 2;
	max-height: 450px;
	margin-right: 1em;
	border-radius: 4px;
}
form {
  height: 300px;
}
h1 {
  text-align: center;
}

.alert {
  font-size: 1em;
  position: relative;
  top: -28px;
  height: 28px;
  background-color: rgba(255, 0, 0, 0.859);
  width: 100%;
  text-align: center;
  animation-name: example;
  animation-timing-function: ease-out;
  animation-duration: 3.1s;
  color: white;
  /* transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94); */
}

.hidden {
  position: relative;
  top: -28px;
  z-index: 0;
  font-size: 1em;
  height: 28px;
  background-color: rgba(255, 0, 0, 0.859);
  width: 100%;
  text-align: center;
  animation-name: example1;
  animation-timing-function: ease-out;
  animation-duration: 3s;
  color: white;
}

.flex-gap {
  display: flex;
  gap: 1em;
}

.flex-wrap {
	flex-wrap: wrap;
	align-self: center;
	height: 100%;
	max-width: 100%;
	width: 100%;
}

.MuiButton-root {
  width: 100px;
}

.column {
	display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  justify-items: center;
}

@keyframes example {
  0% {
    top: -28px;
  }
  25% {
    top: 0px;
  }
  75% {
    top: 0px;
  }
  100% {
    top: 0px;
  }
}

@keyframes example1 {
  0% {
    top: 0px;
  }
  25% {
    top: -28px;
  }
  75% {
    top: -28px;
  }
  100% {
    top: -28px;
  }
}
