.container {
  display: flex;
  position: relative;
  flex-direction: column;
}

.container header {
  position: sticky;
}

.nav {
  display: flex;
}

.nav-bar {
  min-width: 100px;
  background-color: rgb(46, 45, 45);
  color: white;
  display: flex;
  flex-direction: column;
  height: 600px;
}
.user-avatar {
  margin: 1em;
  background-color: #ed563b;
  width: 130px;
  height: 120px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  font-size: 2em;
  letter-spacing: 3px;
}

.nav-bar ul {
  padding: 0.7em;
}

.nav-bar li {
  padding: 1em;
  margin: 0.5em;
  cursor: pointer;
}
.cnt-row {
  display: flex;
  gap: 2em;
  margin-left: 1em;
  margin-right: 1em;
}
/* .MuiButtonBase-root {
  font-size: 2em;
} */

.MuiPickerStaticWrapper-root {
  /* width: 500px;
	height: 500px; */
  font-size: 1rem !important;
}
body {
  font-size: 20px;
}
