.container {
  display: flex;
  position: relative;
  flex-direction: column;
	align-items: center;
}

.container header {
  position: sticky;
}

.nav {
  display: flex;
}

.nav-bar {
  background-color: rgb(46, 45, 45);
  color: white;
  display: flex;
  flex-direction: column;
	align-items: center;
}

.user-avatar {
  background-color: #d96c2e;
  width: 85px;
  height: 80px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  letter-spacing: 3px;
	color: white;
}

.nav-bar li {
  display: flex;
  justify-content: center;
  padding: 1em;
  margin: 0.5em 1em 0.5em 1em;
  cursor: pointer;
  margin-bottom: 2em;
}

.nav-bar li:first-child {
  margin-bottom: 5em;
}

.nav-bar li:last-child {
  margin-top: 5em;
}

.cnt-row {
  display: flex;
  gap: 2em;
	justify-content: space-between;
	width: 100%;
	font-size: 0.7em;
}

.name {
	height: 70px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: rgb(46, 45, 45);
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	padding: 1em;
}

.name h1, p {
	text-align: left;
	color: white;
}

.name p {
	color: white;
}

.text {
	color: #d96c2e;
}

.MuiPickerStaticWrapper-root {
  /* width: 500px;
	height: 500px; */
  font-size: 1rem !important;
}
body {
  font-size: 20px;
}

.nav-icon {
  width: 35px;
}

.big {
	width: 45px;
	filter: invert(1);
}

.nav-bar li:hover {
  background-color: rgba(50, 49, 49, 0.939);
  border-radius: 20px;
}

.clicked {
  background-color: rgba(64, 63, 63, 0.939);
  border-radius: 20px;
}

.logo {
  display: flex;
  flex-direction: column;
  font-size: 1.3em;
  justify-content: center;
  text-align: center;
  margin: 1em 0 1em 0;
	color: white;
}

.user-info-bar > h3:first-child {
  display: flex;
	width: 90%;
	justify-content: space-between;
}

.user-info-bar {
	display: flex;
	flex-direction: column;
	gap: 1.5em;
	align-items: center;
	border: 1px solid rgba(224, 224, 224, 1);
	padding: 1em;
}

.middle {
	flex: 70%;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.component {
	height: 100%;
}

.bmi-bar {
	width: 50px;
	border: 1px solid black;
	height: 20px;
}

.bmi-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5em;
	width: 100%;
	border: 1px solid #9e9d9d;
	padding: 0.2em;
	border-radius: 5px;
	margin-top: 1em;
}

.bmi-container h2 {
	display: flex;
	align-items: center;
}

.bmi-container input {
	border-radius: 5px;
	border-width: 1px;
	width: 30px;
	height: 15px;
}

input[type=number] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.bmi-container span {
	width: 80px;
	font-weight: lighter;
}

.bmi-button {
	padding: 0.5em;
	border: none;
	border-radius: 5px;
	background-color: #d96c2e;
	color: white;
	cursor: pointer;
	margin-top: 0.3em;
}

.not-calculated {
	width: 100%;
	font-size: 15px;
}

.bmi-button:hover {
	background-color: #d96d2ea5;
}

.bmi-result {
	display: flex;
	flex-direction: column;
	border: 1px solid rgba(224, 224, 224, 1);
	gap: 0.2em;
	text-align: center;
	border-radius: 5px;
}

.text-bmi {
	display: flex;
	align-items: center;
	position: relative;
	justify-content: right;
	width: 100%;
	border-bottom: 1px solid rgba(224, 224, 224, 1);
}

.text-bmi span {
	width: 100%;
	text-align: center;
	position: absolute;
}

.text-bmi img {
	filter: contrast(0.2);
}

.text-bmi img:hover {
	filter: contrast(1);
}

.bmi-result div {
	display: flex;
  flex-direction: column;
  padding: 0.3em;
}

.bmi-value {
	font-weight: bold;
}

.flex-column {
	display: flex;
	flex-direction: column;
	gap: 1em;
	width: 100%;
	margin-top: 1em;
}

.info-container {
	border: 1px solid rgba(224, 224, 224, 1);
	border-radius: 5px;
	padding: 0.3em;
	animation: opacity 1s linear;
	width: 190px;
}

.info-container p {
	color: black;
	font-size: 13px;
}

.stats-container {
	display: flex;
	flex-direction: column;
}

@keyframes opacity {
	from {opacity: 0%;}
	to {opacity: 100%;}
}

@media only screen and (max-width: 1000px) {
	.container {
		font-size: 0.9em
	}
 }

@media only screen and (max-width: 600px) {
	.container {
		font-size: 0.8em
	}
	.cnt-row {
		flex-direction: column;
		font-size: 0.6em;
		gap: 0;
	}
	.name h1, p {
		text-align: center;
	}
}
