/*

TemplateMo 548 Training Studio


*/

/* ---------------------------------------------
Table of contents
------------------------------------------------
01. font & reset css
02. reset
03. global styles
04. header
05. banner
06. features
07. testimonials
08. contact
09. footer
10. preloader
11. search
12. portfolio

--------------------------------------------- */
/* 
---------------------------------------------
font & reset css
--------------------------------------------- 
*/
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

* {
  font-family: 'Poppins', sans-serif;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
}

.logo {
  color: white;
  font-weight: bold;
  font-size: 2em;
}

.main-button a {
  display: inline-block;
  font-size: 15px;
  padding: 12px 20px;
  background-color: #ed563b;
  color: #fff;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  transition: all .3s;
}

.main-button a:hover {
  background-color: #f9735b;
}

.active {
  display: inline-block;
  font-size: 15px;
  padding: 12px 20px;
  background-color: white;
  /* border: 1px solid #ed563b; */
  margin-right: 1em;
  color: #ed563b;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  transition: all 0.3s;
}
.active:hover {
  background-color: #e3e2e2;
  /* background-color: #f9735b; */
}
.main-nav .text {
  color: #ed563b;
  font-size: 2rem;
  font-weight: bold;
}
.main-nav span {
  font-weight: normal;
  font-size: 1.3rem;
}
.line {
  margin: 5px;
}
.main-page-colors {
  background-color: rgb(56, 64, 74);
  color: white;
}
.dashboard-page-colors {
  background-color: white;
  color: #232d39;
}

.sign-buttons {
  margin-right: 1em;
  position: relative;
}
.bars {
  display: none;
}
@media only screen and (max-width: 650px) {
  .main-button {
    display: none;
  }
  .bars {
    right: 30px;
    display: flex;
    position: relative;
    animation: linear;
    animation-name: left;
    animation-duration: 1s;
  }
  .line {
    display: none;
  }
  .info {
    display: none;
  }
  .logo {
    left: 30px;
    position: relative;
    animation: linear;
    animation-name: right;
    animation-duration: 1s;
  }
}

@keyframes left {
  0% {
    right: 10px;
  }
  50% {
    right: 20px;
  }
  100% {
    right: 30px;
  }
}

@keyframes right {
  0% {
    left: 10px;
  }
  50% {
    left: 20px;
  }
  100% {
    left: 30px;
  }
}

.css-1w23xel {
	max-width: 100vw !important;
	background-color: red;
}