
* {
  font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
}

.header-area {
	position: absolute;
	width: 100%;
}

.container {
	display: flex;
	justify-content: center;
	width: 100%;
	z-index: 2;
	background-color: #575757;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
	width: 90%;
	padding: 1em;
}

.fixed {
	position: fixed;
	animation: opacity 1s linear;
}

@keyframes opacity {
	from {opacity: 0;}
	to {opacity: 1;}
}

.nav {
  display: flex;
}

.logo {
	font-style: normal;
	font-weight: 900;
	font-size: 32px;
	color: white;
}

.logo span {
	color: #D96C2E;
}

.main-button a {
  display: inline-block;
  font-size: 15px;
  padding: 12px 20px;
  background-color: #D96C2E;
  color: #fff;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  transition: all .3s;
}

.main-button a:hover {
  background-color: #e27a3d;
}

.active {
  display: inline-block;
  font-size: 15px;
  padding: 12px 20px;
  background-color: white;
  /* border: 1px solid #ed563b; */
  margin-right: 1em;
  color: #D96C2E;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  transition: all 0.3s;
}
.active:hover {
  background-color: #e3e2e2;
  /* background-color: #f9735b; */
}

.main-page-colors {
  background-color: rgb(56, 64, 74);
  color: white;
}
.dashboard-page-colors {
  background-color: white;
  color: #232d39;
}

.sign-buttons {
  margin-right: 1em;
  position: relative;
}
.bars {
  display: none;
}
@media only screen and (max-width: 650px) {
	.main-nav {
		flex-direction: column;
		gap: 1em;
	}
	.nav {
		flex-direction: column;
	}
	.sign-buttons {
		width: 200px;
	}
	.nav li a {
		width: 100%;
	}
	.sign-buttons {
		margin: 0;
	}
  /* .nav {
    display: none;
  }
  .bars {
    display: flex;
  } */
  .line {
    display: none;
  }
  .info {
    display: none;
  }
}