.workout-cnt {
  border: 1px solid rgba(224, 224, 224, 1);
  display: flex;
  flex-direction: column;
  position: relative;
  align-self: flex-end;
  height: 400px;
	min-width: 370px;
	width: 100%;
	height: 100%;
}
.time-cnt {
  height: 42px;
  /* border-bottom: 2px solid rgb(46, 45, 45); */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  background-color: white;
}

.time {
  text-align: center;
  width: 6em;
  overflow: hidden;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.time-center {
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid rgba(224, 224, 224, 1);
  position: relative;
  background-color: white;
  z-index: 1;
  height: 65px;
}
.add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 43px;
  height: 40px;
  z-index: 1;
  color: white;
	align-self: center;
  font-size: 2em;
  background-color: #ed563b;
  border: 1px solid #ed563b;
}

.add-button:hover {
  cursor: pointer;
  background-color: #f9735b;
  opacity: 1;
}

.add-button-top {
	 display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 40px;
  height: 37px;
  z-index: 1;
  color: white;
	align-self: center;
  font-size: 2em;
  background-color: #ed563b;
  border: 1px solid #ed563b;
  position: absolute;
  right: 3em;
	top: 0.1em;
  /* justify-self: flex-start;
	align-self: flex-start; */
}
.add-button-top:hover {
	cursor: pointer;
  background-color: #f9735b;
  opacity: 1;
}
.top:hover {
  background-color: #f9735b85;
}

.center {
	display: flex;
	justify-self: center;
	align-self: center;
	height: 100%;
}

.loading-indicator {
  display: flex;
  border-radius: 50%;
  width: 43px;
  height: 40px;
	align-self: center;
}
.categories {
  display: flex;
  flex-direction: column;
}

.category {
  border-bottom: 2px solid rgb(46, 45, 45);
  padding: 1em;
  cursor: pointer;
}

.category:hover {
  background-color: rgb(235, 232, 232);
}

.time-cnt button {
  border: none;
  background-color: white;
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
  margin: 1em;
}

h3 {
  text-align: center;
}
.exercise {
  margin: 2em;
  height: 373px;
}
.row {
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 2px solid rgb(46, 45, 45);
	position: relative;
	background-color: white;
	z-index: 1;
}

.column p {
  margin: 0.5em;
  border-bottom: 1px solid #888888;
}
